.grid-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid {
    width: 100%;
    max-width: 500px;
    display: flex;
    padding: 10px;
    background-color: cornflowerblue;
}
.grid .column{
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    padding: 3px;
}